.header-hide {
  opacity: 0;
  transition: .5s;
}

.header-show {
  opacity: 1;
  transition: .5s;
}

.title-hide {
  opacity: 0;
  transform: translateX(-200%);
  transition: .7s;
}

.title-show {
  animation-name: title-show;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease;
  @media only screen and (min-width: 769px) {
    @keyframes title-show {
      from {
        opacity: 0;
        left: -100%;
      }
      to {
        opacity: 0.5;
        left: 200px;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    @keyframes title-show {
      from {
        opacity: 0;
        left: -100%;
      }
      to {
        opacity: 0.5;
        left: 20px;
      }
    }
  }
  .second-screen & {
    animation: none;
    opacity: 0;
  }
}

.cards-hide {
  transition: .7s;
  opacity: 0;
  z-index: -1;
  animation-name: cards-hide;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
@keyframes card-show {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
  }
}
.main-screen__section {
  .cards-show-up {
    pointer-events: all;
    animation-name: card-show;
    animation-timing-function: ease-out;
    @media only screen and (min-width: 769px) {
      margin-top: 20px;
      margin-right: 20px;
    }
    @media only screen and (max-width: 768px) {
      margin-right: 10px;
    }

    &:nth-child(1) {
      animation-duration: 0.5s;
    }
    &:nth-child(2) {
      animation-duration: 1s;
    }
    &:nth-child(3) {
      animation-duration: 1.5s;
    }
    &:nth-child(4) {
      animation-duration: 2s;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.arrow-hide {
  opacity: 0;
}

// clouds

.plane-hide {
  animation-name: plane-hide;
  animation-duration: 1.5s;
  animation-delay: 0s;
  opacity: 0;
  @keyframes plane-hide {
    from {
      opacity: 1;
    }
    to {
      transform: translateX(100%) translateY(-100%);
    }
  }
}

.plane-transform {
  animation-name: plane-show, plane-move;
  animation-duration: 2s, 5s;
  animation-delay: 0s, 2s;
  animation-iteration-count: 1, infinite;
  animation-timing-function: ease-out, ease-in-out;
  @keyframes plane-show {
    from {
      transform: translateX(-100%) translateY(100%);
    }
    to {
      background-position: center;
    }
  }
  @media only screen and (min-width: 769px) {
    @keyframes plane-move {
      from {
        background-position: center;
      }
      50% {
        transform: translateX(-44%) translateY(-60px);
      }
      to {
        background-position: center;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    @keyframes plane-move {
      from {
        background-position: center;
      }
      50% {
        transform: translateY(4%) translateX(5%);
      }
      to {
        background-position: center;
      }
    }
  }
  @media only screen and (width: 768px) {
    @keyframes plane-move {
      from {
        background-position: center;
      }
      50% {
        transform: translateY(15%) translateX(-55%);
      }
      to {
        background-position: center;
      }
    }
  }
}

.clouds-transform-down {
  background-size: 100% 100%;
  animation-name: clouds-transform-down;
  animation-duration: 1s;
  @keyframes clouds-transform-down {
    from {
      background-size: 100% 60%;
    }
    to {
      background-size: 100% 100%;
    }
  }
}

.clouds-transform-up {
  background-size: 100% 60%;
  animation-name: clouds-transform-up;
  animation-duration: 1s;
  @keyframes clouds-transform-up {
    from {
      background-size: 100% 100%;
    }
    to {
      background-size: 100% 60%;
    }
  }
}

.background__clouds {
  &_2 {
    animation-name: move-clouds-left;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    @media only screen and (min-width: 769px) {
      width: 200vw;
      background-size: 100vw 100vh;
      animation-duration: 20s;
    }
    @media only screen and (max-width: 768px) {
      width: 400vw;
      background-size: 200vw 100vh;
      animation-duration: 10s;
    }
  }
  &_3 {
    animation-name: move-clouds-left;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 20s;
    @media only screen and (min-width: 769px) {
      animation-duration: 20s;
    }
    @media only screen and (max-width: 768px) {
      animation-duration: 50s;
    }
    @keyframes move-clouds-left {
      from {
        background-position: right;
      }
      to {
        background-position: left;
      }
    }
  }
}
