.header-show {
  opacity: 1;
  transition: .5s;
}

.header-hide {
  opacity: 0;
  transition: .5s;
}

.title-show {
  animation-name: title-showw;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease;
  @media only screen and (min-width: 769px) {
    @keyframes title-showw {
      from {
        opacity: 0;
        left: -100%;
      }
      to {
        opacity: 0.5;
        left: 200px;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    @keyframes title-show {
      from {
        opacity: 0;
        left: -100%;
      }
      to {
        opacity: 0.5;
        left: 20px;
      }
    }
  }
}
.title-hide {
  opacity: 0;
  transform: translateX(-200%);
  transition: .7s;
}

.main-screen__title {
  animation-name: title-show;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease;
  @media only screen and (min-width: 769px) {
    font-size: 11.5vw;
    line-height: 166px;
    top: 14vh;
  }
  @media only screen and (max-width: 768px) {
    font-size: 100px;
    line-height: 114px;
    top: 8vh;
  }
  @media only screen and (min-width: 769px) {
    @keyframes title-show {
      from {
        opacity: 0;
        left: -100%;
      }
      to {
        opacity: 0.5;
        left: 200px;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    @keyframes title-show {
      from {
        opacity: 0;
        left: -100%;
      }
      to {
        opacity: 0.5;
        left: 20px;
      }
    }
  }
  .second-screen & {
    animation: none;
    opacity: 0;
  }
}

@keyframes card-show {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
  }
}

.main-screen__section {
  .cards-hide & {
    transition: .7s;
    opacity: 0;
    z-index: -1;
    animation-name: cards-hide;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }
  .cards-show-up & {
    z-index: 11;
    transition: 1s;
    opacity: 1;
  }
}

.arrow-hide {
  opacity: 0;
}

// clouds

.plane-hide {
  animation-name: plane-hide;
  animation-duration: 1.5s;
  animation-delay: 0s;
  opacity: 0;
  @keyframes plane-hide {
    from {
      opacity: 1;
    }
    to {
      transform: translateX(100%) translateY(-100%);
    }
  }
}

.background__plane {
  &_show {
    animation-name: plane-show, plane-move;
    animation-duration: 1.5s, 10s;
    animation-delay: 0s, 2s;
    animation-iteration-count: 1, infinite;
    @keyframes plane-show {
      from {
        transform: translateX(-100%) translateY(100%);
      }
      to {
        background-position: center;
      }
    }
    @media only screen and (min-width: 769px) {
      @keyframes plane-move {
        from {
          background-position: center;
        }
        50% {
          transform: translateY(-4%) translateX(-48%);
        }
        to {
          background-position: center;
        }
      }
    }
    @media only screen and (max-width: 768px) {
      @keyframes plane-move {
        from {
          background-position: center;
        }
        50% {
          transform: translateY(4%) translateX(5%);
        }
        to {
          background-position: center;
        }
      }
    }
    @media only screen and (width: 768px) {
      @keyframes plane-move {
        from {
          background-position: center;
        }
        50% {
          transform: translateY(15%) translateX(-55%);
        }
        to {
          background-position: center;
        }
      }
    }
  }
}

.clouds-show {
  animation-name: clouds-show;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  opacity: 1;
  @keyframes clouds-show {
    from {
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
    }
  }
}

.clouds-hide {
  animation-name: clouds-hide;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  opacity: 0;
  @keyframes clouds-hide {
    from {
      opacity: 1;
    }
    to {
      transform: translateY(-100%);
    }
  }
}

.clouds-transform-up {
  background-size: 100% 60%;
  animation-name: clouds-transform-up;
  animation-duration: 1s;
  @keyframes clouds-transform-up {
    from {
      background-size: 100% 100%;
    }
    to {
      background-size: 100% 60%;
    }
  }
}

.clouds-transform {
  background-size: 100% 100%;
  animation-name: clouds-transform;
  animation-duration: 1s;
  @keyframes clouds-transform {
    from {
      background-size: 100% 60%;
    }
    to {
      background-size: 100% 100%;
    }
  }
}

.background__clouds {
  &_2 {
    animation-name: clouds-2;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    @media only screen and (min-width: 769px) {
      width: 200vw;
      background-size: 100vw 100vh;
      animation-duration: 20s;
    }
    @media only screen and (max-width: 768px) {
      width: 400vw;
      background-size: 200vw 100vh;
      animation-duration: 10s;
    }
    @keyframes clouds-2 {
      from {
        background-position: right;
      }
      to {
        background-position: left;
      }
    }
  }
  &_3 {
    animation-name: clouds-3;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    @media only screen and (min-width: 769px) {
      animation-duration: 20s;
    }
    @media only screen and (max-width: 768px) {
      animation-duration: 50s;
    }
    @keyframes clouds-3 {
      from {
        background-position: left;
      }
      to {
        background-position: right;
      }
    }
  }
}