@import "@/assets/scss/resourses/animation";

.active {
  color: #fff;
}

.main-screen {
  height: calc(100% + 1px);
  margin-bottom: 1px;
  width: 100%;
  overflow: hidden;
  //padding-bottom: var(--safe-area-inset-bottom);

  &__container {
    top: 0;
    transition: 0.5s;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    @media only screen and (min-width: 769px) {
      padding-bottom: 90px;
    }
    @media only screen and (max-width: 768px) {
      padding-bottom: 50px;
    }
  }

  &__header {
    position: relative;
    z-index: 5;
    transition: .5s;

    .first-screen & {
      opacity: 1;
    }

    .second-screen & {
      opacity: 0;
    }
  }

  &__title {
    position: absolute;
    font-family: Montserrat, sans-serif;
    z-index: 2;
    font-weight: 800;
    color: #918b8c;
    letter-spacing: 1px;
    transition: .5s;
    opacity: 0.5;
    font-size: 166px;
    line-height: normal;

    @media only screen and (min-width: 768px) {
      max-width: 1000px;
      font-size: 11.5vw;
      top: 14vh;
    }
    @media only screen and (max-width: 767px) {
      max-width: 360px;
      font-size: 100px;
      top: 8vh;
    }

    .first-screen & {
      opacity: 0.5;

      @media only screen and (min-width: 1281px) {
        @keyframes title-show {
          from {
            left: -100%;
          }
          to {
            left: 200px;
          }
        }
      }
      @media only screen and (max-width: 1280px) {
        @keyframes title-show {
          from {
            transform: translateX(-100%);
          }
          to {
            transform: translateX(0);
          }
        }
      }
      @media only screen and (max-width: 768px) {
        @keyframes title-show {
          from {
            left: -100%;
          }
          to {
            left: 20px;
          }
        }
      }
    }

    .second-screen & {
      opacity: 0;
    }
  }

  &__section {
    position: relative;
    z-index: 5;
    flex-wrap: wrap;
    width: 100%;
    @media only screen and (min-width: 880px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      z-index: 11;
      flex-wrap: nowrap;
    }
  }

  &__cards-inner {
    margin-left: -20px;
    margin-right: -20px;
    //padding-left: 20px;
    transition: .25s;
    @media only screen and (min-width: 880px) {
      height: 350px;
      display: flex;
      align-items: flex-end;
      margin: 0;
    }
    @media (max-width: 880px) {
      //width: calc(100% + 20px);
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
    }

    .first-screen & {
      opacity: 1;
    }

    .second-screen & {
      opacity: 0;
    }
  }

  &__cards {
    display: flex;
    @media only screen and (max-width: 880px) {
      padding: 0 20px;
      width: 100%;
      //overflow-x: scroll;
      //overflow-y: hidden;
      //-webkit-overflow-scrolling: touch;
      //margin-left: -20px;
      //padding-left: 20px;
    }

    .second-screen & {
      opacity: 0;
    }
  }

  &__card {
    @media only screen and (min-width: 880px) {
      margin-top: 20px;
      margin-right: 20px;
    }
    @media only screen and (max-width: 880px) {
      margin-right: 0;
      padding-right: 10px;

      &:last-of-type {
        padding-right: 20px;
      }
    }

    @keyframes cards-show-up {
      from {
        opacity: 0;
        transform: translateY(100%);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .app &,
    .first-screen & {
      pointer-events: all;
      animation: cards-show-up 0.5s ease-out;

      &:nth-child(1) {
        animation-duration: 0.5s;
      }

      &:nth-child(2) {
        animation-duration: 1s;
      }

      &:nth-child(3) {
        animation-duration: 1.5s;
      }

      &:nth-child(4) {
        animation-duration: 2s;
      }
    }
  }

  &__social-icons {
    transition: .5s;
    display: none;
    @media only screen and (min-width: 880px) {
      display: flex;
      flex-wrap: wrap;
    }

    .first-screen & {
      opacity: 1;
    }

    .second-screen & {
      opacity: 0;
    }
  }

  &__button {
    transition: .5s;
    @media only screen and (min-width: 880px) {
      display: none;
    }
    @media only screen and (max-width: 880px) {
      position: relative;
      z-index: 5;
      width: 100%;
      height: 50px;
      font-size: 16px;
      margin-top: 20px;
    }

    .first-screen & {
      opacity: 1;
    }

    .second-screen & {
      opacity: 0;
    }
  }

  &__arrow {
    position: absolute;
    z-index: 5;
    width: 18px;
    height: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: 0.15s;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/img/buttons/arrow.svg');
    @media only screen and (min-width: 769px) {
      bottom: 36px;
    }
    @media only screen and (max-width: 768px) {
      bottom: 20px;
    }

    &:hover {
      background-image: url('../../assets/img/buttons/arrow-hover.svg');
    }

    .first-screen & {
      opacity: 1;
    }

    .second-screen & {
      opacity: 0;
    }
  }
}
